*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Merriweather',serif;
}

header{
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    height: 75px;
    background-color: #04364A;
    justify-content: space-between;
    color: #DAFFFB;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 2rem;
}



nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #DAFFFB;
    font-size: 1.18rem;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: #176B87;
    font-size: 1.13rem;
}

.left{
    font-size: 1.5rem;
}

nav .right i{
    font-size: 1.8rem;
    /* font-weight: bold; */
    color: #DAFFFB ;
    display: none;
}

@media (max-width: 600px) {
      nav ul{
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 0;
        background-color: #04364A;
        width: 100%;
        border-top: 1px solid #DAFFFB;
        display: none;
      }  

      nav ul.active{
           display: flex;
           
      }

      nav ul li{
        margin: 10px 0;
        text-align: center;
      }

      nav .right i{
        display: block;
      }
}

/* Hero Section */

.firstSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 150px 20px;
    background-color: #176B87;
}
.firstSection > div{
    width: 45%;
    text-align: center;
}

.rightSection img{
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    border-radius: 130px;
}

.leftSection{
    font-size: 2.5rem;
    margin: 20px 0px;
    columns: #DAFFFB;
}

.leftSection .btn{
    padding: 12px;
    background-color: #DAFFFB;
    border: 2px solid #176B87;
    border-radius: 8px;
    font-size: 1.2rem;
    margin: 20px 5px;
}

.leftSection .button .btn a{
    text-decoration: none;
    color: #04364A;
}

@media (max-width: 600px) {
    .firstSection{
        flex-direction: column;
        padding: 30px 20px;
    }

    .firstSection > div{
        width: 100%;
    }

    .leftSection{
        font-size: 2rem;
    }

    .rightSection img{
      max-width: 300px;
    }
}
/* About me Section */

.secondsection{
     background-color: #DAFFFB;
     padding: 40px 20px;
     color: #04364A;
     text-align: center;
}

.secondsection .aboutme{
        font-size: 2rem;
        margin: 20px 0;
}

.secondsection .shortaboutme{
     font-size: 1.3rem;
     margin: 20px 0;
}

/* Third Section */

.thirdsection{

     padding: 50px 0px;
     background-color: #176B87;
}

.thirdsection #skl{
         text-align: center;
         font-size: 2rem;
         color: #DAFFFB;
         margin: 40px 0;
}

.lowerthird{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     height: 80%;
     gap: 20px;
}

.lowerthird :hover{
       
    position: relative;
    top:-5px ;
}

.lowerthird > div{

     background-color: #DAFFFB;
     color: #04364A;
     width: 25%;
     text-align: center;
     border-radius: 30px;
     padding: 20px;
     font-size: 1.4rem;
}

 .lowerthird > div p{

     font-size: 1.2rem;
     margin: 55px 0;
     color: #04364A;
} 

@media (max-width : 600px){
 
      .lowerthird{
        flex-direction: column;
      }

      .lowerthird > div{
            width: 80%;
            margin: 0 auto;
      }
}


/* Fourth Section */



.fourthsection{

    padding: 50px 0px;
    background-color: #DAFFFB;
}

.fourthsection #project{
        text-align: center;
        font-size: 2rem;
        color:#176B87;
        margin: 40px 0;
}

.lowerfourth{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    gap: 20px;
}

.lowerfourth :hover{
      
   position: relative;
   top:-5px ;
}

.lowerfourth> div{

    background-color: #176B87;
    color: #DAFFFB;
    width: 25%;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    font-size: 1.4rem;
}

.lowerfourth > div p{

    font-size: 1.2rem;
    margin: 55px 0;
    color: #DAFFFB;
} 

@media (max-width : 600px){

     .lowerfourth{
       flex-direction: column;
     }

     .lowerfourth > div{
           width: 80%;
           margin: 0 auto;
     }
}


footer{
    background-color: #04364A;
    color: #DAFFFB;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 5%;
    justify-content: space-around;
}

.logo-text{
    display: flex;
    align-items: center;
}

.footer-img{
    width: 100px;
    margin: 30px;
}

.text p{
    font-size: 20px;
    margin-bottom: 5px;
}

.social-links h2, .other-links h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.social-links li, .other-links li{
    font-size: 18px;
    padding: 10px 10px;
}

.social-links a, .other-links a{
    color: #DAFFFB;
    text-decoration: none;
}

.social-links ul, .other-links ul{
    padding: 10px 0px;
    list-style: none;
}

.social-links a :hover, .other-links a:hover{
    color: white;
}

.copyright{
    text-align: center;
    padding: 12px;
    background-color: black;
}

.copyright p{
    color: white;
}